[submodule "packages/social"]
	path = packages/social
	url = https://bitbucket.org/atlassian/atlasboard-social-package
[submodule "packages/atlassian"]
	path = packages/atlassian
	url = https://bitbucket.org/atlassian/atlasboard-atlassian-package
